# Git
.git
.gitignore

# Docker
Dockerfile
.dockerignore

# IDEs and editors
.idea
.vscode
*.swp

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
.venv/
env/

# Node
node_modules/
npm-debug.log

# Database
app.db

# OS-specific
.DS_Store
Thumbs.db
